<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">



    <http use-expressions="true">

        <http-basic/>

        <csrf disabled="true"/>

        <logout logout-success-url="/"/>

        <!-- inject custom entry point to print JSON error in case of 401 status code -->
        <custom-filter ref="jsonAuthenticationFilter" before="BASIC_AUTH_FILTER" />
    </http>

    <beans:bean id="jsonAuthenticationFilter"
                class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
        <beans:constructor-arg ref="authenticationManager"/>
        <beans:constructor-arg ref="jsonEntryPoint"/>
    </beans:bean>

    <global-method-security pre-post-annotations="enabled"
            jsr250-annotations="enabled"
            secured-annotations="enabled">
    </global-method-security>

    <authentication-manager
            alias="authenticationManager">
        <authentication-provider
                user-service-ref="customerService">
        </authentication-provider>
    </authentication-manager>

</beans:beans>