<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:property-placeholder location="classpath:app.properties"/>

	<context:component-scan base-package="com.sappadev.simplewebangular.controllers,
										  com.sappadev.simplewebangular.data.converters,
										  com.sappadev.simplewebangular.services,
										  com.sappadev.simplewebangular.security" >
	</context:component-scan>

	<task:annotation-driven />

	<mvc:annotation-driven/>

	<bean id="messageSource" class="com.sappadev.simplewebangular.res.CustomMessageSource">
		<property name="basename" value="classpath:messages/msg" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="locale" />
		</bean>
	</mvc:interceptors>

	<mvc:cors>
		<mvc:mapping path="/**"
					 allowed-origins="*" />
	</mvc:cors>

	<bean id="mapper" class="org.dozer.DozerBeanMapper"/>

	<import resource="spring-security.xml"/>
	<import resource="spring-data.xml"/>

</beans>
